<section class="phx-hero">
  <h1>Please enter an organizaion name and press enter</h1>
</section>

<input type="text" id="org-name" name="org-name">

<div>
  <h1 id="error-text">
  </h1>
  <h1 id="organization-name">
  </h1>
  <ul id='repo-list'>
  </ul>
</div>